.app__navbar{
    width:100%;
    display:flex;
    position: fixed;
    height:50px;
    padding-top: 20px;
    z-index:30;
    margin-top:10px;
}
.app__navbar-links{
    list-style: none;
    flex: 1;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width: 30px;
    height:30px;
    

    li{
        box-shadow:0px -10px 0 0px  inset var(--secondary-color);
        padding:0 5px 0 5px;
        background-color:rgba(0,0,0,0);
        justify-self: flex-start;
        a{
            color:white;
            font-size: 1rem;
            font-family: var(--font-header);
            font-weight:lighter;
            text-decoration: none;
            text-transform: lowercase;
            
        
            &:hover{
                color:var(--secondary-color);
            }
        }
        &:hover{
            box-shadow:0 -10px 0 0px inset white; 
        }
    }
    @media screen and (max-width:900px){
        display:none;
    }
}
.scroll{
    background-color: var(--secondary-color);
    border-radius:50px;
    box-shadow: none;
    padding: 20px;
    li{ 
        &:hover{
            box-shadow: none;
        }
        a{
            &:hover{
                color:var(--primary-color);
            }
        }
    }
    @media screen and (max-width:900px){
        display:none;
    }
}
.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: fixed;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    z-index:10;
    margin: 0.5rem 1rem;

    svg {
        width: 70%;
        height: 70%;
        color: white;
        &:hover{
            color:var(--primary-color);
        }
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 15;

        padding: 1rem;

        width: 80%;
        height: 100vh;
        
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        
        background-color: var(--secondary-color);

        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);

        svg {
            width: 35px;
            height: 35px;
            color: white;
            margin: 0.5rem 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

        li {
            margin: 1rem;

            a {
                color: white;
                text-decoration: none;
                font-size: 1rem;
                text-transform: lowercase;
                font-weight: bold;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
        li :last-child{
            margin: 0.5rem;
            
        }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}
.app__navbar-menu-socialLinks{
    svg{
        width:20px;
        height:20px;
        
    }

}

