/* font-family: 'Alfa Slab One', cursive;
font-family: 'Raleway', sans-serif; */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway:ital,wght@0,400;0,600;1,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
:root {
  --font-base: 'Raleway', sans-serif;;
  --font-header: 'Alfa Slab One', cursive;
  --primary-color: #A2D2FF;
  --secondary-color: #FFAFCC;
  --primary-color-30: #BDE0FE;
  --secondary-color-30:#FFC8DD;
  --grey-color:#D9D9D9;
}
html,body { height: 100%; margin: 0px; padding: 0px; }
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
